@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    box-sizing: border-box;
}

body {
    /* no selection */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: "Open Sans", sans-serif;
    /* background-color: #252954; */
    /* color: #9b9ca7; */
}

:root {
    --delay: 0s;
}

* {
    outline: none;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
}

.wrapper {
    /* background-color: #0e0e23; */
    display: flex;
    height: 100vh;
    margin: 0 auto;
}

@-webkit-keyframes left {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes left {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes top {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes top {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.main-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    padding: 25px;
    min-width: 100%;
}

.flex {
    display: flex;
    margin-bottom: 20px;
}

.flex-child-one {
    flex: 1;
}

.flex-child-two {
    flex: 2;
    line-height: 1rem;
}

.card {
    background: #1a2049;
    background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
    padding: 30px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 430px;
    width: 100%;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
}

.card .title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    color: white;
    font-family: 'Oswald';
}

.card .subtitle {
    font-size: 13px;
}

.card+.card {
    margin-left: 20px;
}

.activity {
    max-width: 480px;
}

.activity .title {
    margin-bottom: 5px;
}

.activity-links {
    display: flex;
    align-items: center;
    margin-top: auto;
    font-size: 15px;
}

.activity-link {
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.destination {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.destination-card {
    background: #1a1d3a;
    background: linear-gradient(45deg, #1a1d3a 0%, #212752 100%);
    padding: 20px;
    width: 100%;
    border-radius: 6px;
}

.destination-card+.destination-card {
    margin-left: 20px;
    background: #1a1d3a;
    background: linear-gradient(325deg, #1a1d3a 0%, #212752 100%);
}

.destination-profile {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-top: 0px;
}

.destination-profile svg {
    width: 18px;
    flex-shrink: 0;
    margin-right: 8px;
}

.profile-img {
    width: 46px;
    height: 46px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #bebec4;
    flex-shrink: 0;
}

.circle {
    width: 100px;
    height: 100px;
    border: 3px solid #01020500;
    border-radius: 2px;
    position: relative;
    margin: 0 auto;
}


/* .user-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
} */

.pie {
    position: relative;
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.pie svg circle {
    fill: transparent;
    stroke: #4356d6;
    stroke-width: 5;
    stroke-dasharray: 275;
    stroke-dashoffset: 235;
    -webkit-animation: pieChart 3.8s linear forwards;
    animation: pieChart 3.8s linear forwards;
}

@-webkit-keyframes pieChart {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes pieChart {
    100% {
        stroke-dashoffset: 0;
    }
}

.counter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #3e50c5;
    font-weight: 500;
    font-size: 17px;
    color: #17a98a;
}

#user-mgmt-table {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
}

.heading h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    margin: auto;
    margin-top: 50px;
    min-width: 1000px;
}

.user-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 5% 10% 20% 25%;
    /*to control the width for columns pfp, uname, uemail and 3 buttons*/
    grid-gap: 0.1rem;
    padding: 0.5rem;
    margin: 0 auto;
    width: 100%;
    justify-items: center;
    border: 1px solid black;
}

.user-pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
}

.stat-item {
    text-shadow: black 0px 0px 1px;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.stat-item>span {
    text-decoration: underline;
}

.container {
    margin-top: 20px;
}


/*Default CSS layout for narrow screens*/

@media (min-width: 480px) {
    /*CSS for medium width screens*/
}

@media (min-width: 800px) {
    /*CSS for wide screens*/
}

@media (min-width: 1100px) {
    /*CSS for really wide screens*/
}


/* Table Styles */

.table-wrapper {
    margin: 100px 350px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 15px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}