hr {
    /*dummy content*/
    height: 6px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
}

hr:last-child {
    /*dummy content*/
    margin-right: 60%;
}

hr.image {
    /*dummy content*/
    padding-bottom: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.page {
    padding: 2em;
    background-image: linear-gradient( 68.4deg, rgba(248, 182, 204, 1) 0.5%, rgba(192, 198, 230, 1) 49%, rgba(225, 246, 240, 1) 99.8%);
    max-width: 100%;
    padding-top: 150px;
}

.archive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 5em 1em;
    grid-auto-flow: dense;
    margin-bottom: 100px;
}

.badge-name {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #170518;
    background-color: #f1f1f182;
    font-family: 'Reem Kufi Ink';
    padding: 0.3em;
    border-bottom-color: aquamarine;
    border-radius: 0.5em;
    border-bottom: 2px solid #6a6a6a;
}

.badge-name.bronze {
    background: #CD7F32;
    background: linear-gradient(to bottom, #CD7F32 0%, #BE7023 100%);
}

.badge-name.silver {
    background: #C0C0C0;
    background: linear-gradient(to bottom, #C0C0C0 0%, #B1B1B1 100%);
}

.badge-name.gold {
    background: #FFD700;
    background: linear-gradient(to bottom, #FFD700 0%, #E6B800 100%);
}

.mybadge {
    height: 12rem;
    width: 15rem;
    margin-left: -40px;
    filter: brightness(1.1);
}

.article {
    padding: 1em;
    background: #fff;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    text-align: center;
}

.article.heading-text {
    padding: 25px;
    font-size: 6.1em;
    font-weight: 900;
    font-family: fantasy;
    color: black;
    word-spacing: 20px;
    /* font-style: italic; */
}

.article::after {
    color: white;
    font-weight: bold;
    font-family: courier;
}

.article:nth-child(2) {
    grid-column: 2/-1;
}

#BookTitle {
    background: rgb(255, 198, 198);
}

#MovieTitle {
    background: rgb(255, 225, 198);
}

#TvTitle {
    background: rgb(198, 200, 255);
}

#GameTitle {
    background: rgb(198, 255, 205);
}

#MusicTitle {
    background: rgb(250, 198, 255);
}

#CultTitle {
    background: rgb(255, 255, 198);
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.4s ease 0.6 s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 15px;
    position: absolute;
    font-family: 'Open Sans';
    padding: 15px;
    bottom: -2.5em;
    margin-left: -6.5em;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    transition: 0.5s;
    min-width: 195px;
}

[data-title] {
    position: relative;
}

.mybadge.locked {
    filter: grayscale(100%);
    z-index: -1;
    opacity: 0.4;
}

.lock {
    position: absolute;
    margin-top: 20%;
    left: 25%;
    z-index: 99999;
}

.cross::after {
    content: url(../images/Icons/locked.png);
    position: absolute;
    margin-top: -65%;
    left: 33%;
    width: 10px;
    height: 10px;
}