hr {
    /*dummy content*/
    height: 6px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
}

hr:last-child {
    /*dummy content*/
    margin-right: 60%;
}

hr.image {
    /*dummy content*/
    padding-bottom: 100%;
}

.page {
    padding: 2em;
    background-image: linear-gradient( 68.4deg, rgba(248, 182, 204, 1) 0.5%, rgba(192, 198, 230, 1) 49%, rgba(225, 246, 240, 1) 99.8%);
    max-width: 100%;
}

.archive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1em;
    grid-auto-flow: dense;
    margin-bottom: 100px;
}

.badge-name {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 0.3em;
    border-radius: 0.5em;
}

.mybadge {
    height: 14rem;
    width: 10rem;
    padding-top: 0.5rem;
}

.article {
    padding: 1em;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.article.heading-text {
    padding: 25px;
    font-size: 6.8em;
    font-weight: 900;
    font-family: fantasy;
    color: black;
    word-spacing: 20px;
    font-style: italic;
}

.article::after {
    color: white;
    font-weight: bold;
    font-family: courier;
}

.article:nth-child(2) {
    grid-column: 2/-1;
    background: rgb(255, 198, 198)
}

.article:nth-child(2)::after {}