body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

table,
td,
th {
    border: 1px solid gray;
    width: 80%;
}

#diarytable {
    border-collapse: collapse;
}

.inline {
    display: inline-block;
    margin: 30px 0px;
}

input,
button {
    height: 34px;
}


/*PAGINATION STYLES*/

.pagination {
    display: inline-block;
}

.pagination a {
    font-weight: bold;
    font-size: 18px;
    color: rgb(249, 249, 249);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.pagination a.active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.pagination a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

a>span.neonText {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

a>span.neonText:hover {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}