#loader {
    display: block;
    margin: auto;
}

.activity {
    margin-top: 10px;
    padding: 10px;
    margin-left: 20px;
    color: rgb(0, 0, 0);
}

.container {
    margin-top: 100px;
    /* margin-left: 500px; */
    margin: auto;
    width: 50%;
    padding: 10px;
}

.datetime {
    margin-left: 60px;
    color: rgb(26, 26, 26);
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.username {
    margin-left: 10px;
    color: blue;
    font-size: larger;
    margin-bottom: -10px;
}

.post {
    margin-bottom: 50px;
    color: rgb(21, 21, 21);
    background-color: rgb(244, 244, 244);
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    width: 50%px;
    border-radius: 10px;
    /* margin: auto; */
    /* width: 50%; */
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}