html,
body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    background: #f0f8ff;
    font-family: "Open Sans", Helvetica, sans-serif;
    margin-top: 50px;
    min-height: 100vh;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(to left, rgba(10, 10, 10, 0.5), rgb(21, 21, 21)), url(../images/backgrounds/5.png);
    height: 100%;
    background-color: transparent;
    z-index: 1;
    background-size: cover;
    background-repeat: none;
}

 ::-webkit-scrollbar {
    width: 8px
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1
}

 ::-webkit-scrollbar-thumb {
    background: #888
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555
}

.heading h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    margin: auto;
    margin-top: 50px;
    min-width: 1000px
}

.heading h1 span {
    margin-top: 5px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    word-spacing: 1px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    margin-bottom: 60px
}

.heading h1 span:after,
.heading h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f8
}

.activity-container {
    width: inherit
}

#loader {
    display: block;
    margin: auto
}

.activity {
    margin-top: 10px;
    padding: 10px;
    margin-left: 20px;
    color: #000
}

.datetime {
    margin-left: 60px;
    color: #1a1a1a
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%
}

.username {
    margin-left: 10px;
    color: blue;
    font-size: larger;
    margin-bottom: -10px
}

.post {
    margin-bottom: 50px;
    color: #151515;
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #000;
    width: 50%px;
    border-radius: 10px
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto
}

.pagination {
    display: inline-block
}

.pagination a {
    font-weight: 700;
    font-size: 18px;
    color: #f9f9f9;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #000;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 50px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: -.8px;
    line-height: 24px;
    outline: 0;
}

.pagination a.active:focus {
    color: #171e29;
}

.pagination a.active {
    border-color: #06f;
    color: rgb(255, 255, 255);
    background-color: #06f;
}

.pagination a:hover {
    border-color: #06f;
    color: #06f;
    background-color: rgb(249, 249, 249);
    border: 2px solid #06f;
}

a>span.neonText {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa
}

a>span.neonText:hover {
    color: #000;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa
}

.plx-card {
    transition: all 600ms ease;
    max-width: 1100px;
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 30px 0;
    filter: drop-shadow(5px 5px 2px black);
    border-radius: 4px;
}

@media screen and (min-width: 700px) {
    .plx-card.gold {
        height: 280px;
        left: 0;
        right: 0;
        margin: auto;
        margin-bottom: 100px;
        height: max-content
    }
}

@media screen and (max-width: 700px) {
    .plx-card {
        height: auto;
        width: auto;
        flex-direction: column;
        border-radius: 2px;
        margin: 25px 15px;
        height: max-content
    }
}

.pxc-avatar {
    transition: all 600ms ease;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 150px;
    justify-content: space-around
}

@media screen and (max-width: 700px) {
    .pxc-avatar {
        width: 100%;
        height: 100px;
        justify-content: space-around;
        align-items: center
    }
}

.pxc-avatar img {
    transition: all 600ms ease;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 0 1px 1rem rgba(10, 10, 25, 0.5);
    position: relative;
    z-index: 1
}

@media screen and (max-width: 900px) {
    .pxc-avatar img {
        width: 125px;
        height: 125px
    }
}

@media screen and (max-width: 700px) {
    .pxc-avatar img {
        margin-top: 100px
    }
}

.pxc-bg {
    transition: all 600ms ease;
    border-radius: 2px;
    height: 100%;
    width: calc(100% - 75px);
    position: absolute;
    z-index: 0;
    pointer-events: none;
    left: 75px;
    background-size: cover;
    background-position: right;
    background-color: #2b2b95
}

@media screen and (max-width: 900px) {
    .pxc-bg {
        left: 50px
    }
}

@media screen and (max-width: 700px) {
    .pxc-bg {
        left: 0;
        top: 0;
        height: 200px;
        width: 100%;
        border-radius: 0
    }
}

.pxc-subcard {
    transition: all 600ms ease;
    border-radius: 3px;
    width: 770px;
    margin: 50px;
    z-index: 0;
    padding: 30px 0px 10px 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 1px #1a0000;
    /* backdrop-filter: blur(10px) saturate(100%); */
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 12px;
}

@media screen and (max-width: 900px) {
    .pxc-subcard {
        margin-right: 120px;
        margin-left: -32px
    }
}

@media screen and (max-width: 700px) {
    .pxc-subcard {
        margin: 25px 15px 30px;
        padding: 60px 25px 20px;
        width: auto;
        height: auto;
        flex: 1 0 auto;
        text-align: center
    }
}

.pxc-stopper {
    transition: all 500ms ease;
    height: 100%;
    width: calc(100%);
    display: block;
    position: absolute;
    z-index: 0;
    left: 75px
}

@media screen and (max-width: 900px) {
    .pxc-stopper {
        left: 50px
    }
}

@media screen and (max-width: 700px) {
    .pxc-stopper {
        left: 0;
        width: 100%;
        top: 200px;
        height: calc(100% - 200px);
        background: #fff;
        border-radius: 0
    }
}

.pxc-tags {
    position: absolute;
    bottom: -15px;
    right: 10px;
    height: 32px;
    overflow: hidden;
    text-align: right
}

.pxc-tags div {
    color: #fff;
    display: inline-block;
    background: #85D;
    border-radius: 12px;
    padding: 2px 10px;
    line-height: 1.7;
    margin: 4px;
    font-size: 12px;
    height: 20px
}

@media screen and (max-width: 700px) {
    .pxc-tags {
        height: 64px;
        text-align: center;
        position: relative;
        width: 100%;
        bottom: 0;
        left: 0;
        margin-bottom: 10px
    }
    .pxc-tags div {
        color: #85D;
        border: solid 1px #85D;
        background: transparent
    }
}

.pxc-title {
    font-size: 24px;
    margin-bottom: 24px;
    color: #fff;
    width: calc(100% - 50px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 0 0 auto
}

@media screen and (max-width: 700px) {
    .pxc-title {
        font-size: 16px;
        white-space: initial;
        overflow: initial;
        text-overflow: initial;
        text-align: center;
        margin-left: 25px;
        margin-bottom: 25px
    }
}

.pxc-sub {
    font-size: 16px;
    flex: 1 1 auto;
    -webkit-mask-image: linear-gradient(black 80%, transparent 100%);
    color: rgb(0, 0, 0);
    width: fit-content;
}

@media screen and (max-width: 700px) {
    .pxc-sub {
        font-size: 13px
    }
}

.pxc-feats {
    font-size: 13px;
    color: #5f5f80;
    flex: 1 1 auto;
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 1.3;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(black 50%, transparent 100%)
}

@media screen and (max-width: 700px) {
    .pxc-feats {
        font-size: 12px;
        margin-top: 10px;
        text-align: center
    }
}

.pxc-feats span:not(:first-child):before {
    content: " • ";
    margin: 3px
}

.bottom-row {
    flex: 0 1 auto;
    margin-top: 10px;
    display: flex;
    justify-items: space-around;
    align-items: center
}

@media screen and (max-width: 700px) {
    .bottom-row {
        border-top: solid 1px rgba(255, 255, 255, 0.05);
        padding-top: 5px
    }
}

.bottom-row .region {
    color: #fff;
    margin-left: 8px
}

.date {
    width: 50px;
    height: 55px;
    background: #fcfcfc;
    background: linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
    background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
    background: -webkit-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 1px 1px #1a0000;
    font-family: 'Reem Kufi Ink';
}

.date p {
    font-size: 20px;
    text-align: center;
    color: #000;
    margin-top: 0;
    height: 35px
}

.date p span {
    background: -webkit-linear-gradient(top, #d10000 0%, #7a0909 100%);
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    display: block;
    border-top: 3px solid #a13838;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    padding: 2px 0;
}

.pxc-subcard.myrow {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.mycolumn1 {
    flex: 80%
}

.mycolumn2 {
    flex: 5%;
    justify-content: flex-end
}

.mycolumn3 {
    flex: 7%;
    justify-content: flex-end
}

a.uname {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
    font-family: 'Reem Kufi Ink';
    font-weight: bolder;
}

a.uname:hover {
    color: #0029de;
    background-color: #fff;
    padding: 10px;
    text-transform: uppercase
}

.gamePoster {
    /* width: 100px; */
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.moviePoster {
    /* width: 100px; */
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.tvPoster {
    /* width: 100px; */
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.musicPoster {
    /* width: 100px; */
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.bookPoster {
    /* width: 100px; */
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.pxc-sub:hover {
    cursor: pointer;
}

.pxc-sub:hover+.gamePoster {
    opacity: 1;
    height: 100px;
    object-fit: contain;
    transition: opacity 0.5s ease-in-out;
}

.pxc-sub:hover+.moviePoster {
    opacity: 1;
    height: 100px;
    object-fit: contain;
    transition: opacity 0.5s ease-in-out;
}

.pxc-sub:hover+.tvPoster {
    opacity: 1;
    height: 100px;
    object-fit: contain;
    transition: opacity 0.5s ease-in-out;
}

.pxc-sub:hover+.musicPoster {
    opacity: 1;
    height: 100px;
    object-fit: contain;
    transition: opacity 0.5s ease-in-out;
}

.pxc-sub:hover+.bookPoster {
    opacity: 1;
    height: 100px;
    object-fit: contain;
    transition: opacity 0.5s ease-in-out;
}