html,
body {
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    height: 100vh;
    width: 100vw;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(46, 0, 89, 1) 35%, rgba(55, 0, 79, 1) 100%);
    font-family: "Open Sans", Helvetica, sans-serif;
}


/* For Stylish Heading*/

.heading h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(255, 245, 245);
    letter-spacing: 1px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    margin: auto;
    margin-top: 50px;
    min-width: 1000px;
}

.heading h1 span {
    margin-top: 5px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    word-spacing: 1px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.heading h1 span:after,
.heading h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f8;
}

.activity-container {
    width: inherit;
}

#loader {
    display: block;
    margin: auto;
}

.activity {
    margin-top: 10px;
    padding: 10px;
    margin-left: 20px;
    color: rgb(0, 0, 0);
}

.container {
    margin-top: 100px;
    /* margin-left: 500px; */
    margin: auto;
    width: 50%;
    padding: 10px;
    height: 100%;
}

.datetime {
    margin-left: 60px;
    color: rgb(26, 26, 26);
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.username {
    margin-left: 10px;
    color: blue;
    font-size: larger;
    margin-bottom: -10px;
}

.post {
    margin-bottom: 50px;
    color: rgb(21, 21, 21);
    background-color: rgb(244, 244, 244);
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    width: 50%px;
    border-radius: 10px;
    /* margin: auto; */
    /* width: 50%; */
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}


/*PAGINATION STYLES*/

.pagination {
    display: inline-block;
}

.pagination a {
    font-weight: bold;
    font-size: 18px;
    color: rgb(249, 249, 249);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.pagination a.active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.pagination a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

a>span.neonText {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

a>span.neonText:hover {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}