body {
    /* no selection */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.header {
    font-size: 20px;
    position: absolute;
    top: 0.5em;
    padding: 5px;
}

.wydrn-logo {
    color: black;
    background-color: white;
    padding: 10px;
}

.header-icon {
    width: 0.8em;
    height: 0.8em;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
}