body {
    /* no selection */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: "Open Sans", Helvetica, sans-serif;
}


/* .header {
    font-size: 20px;
    position: absolute;
    top: 0.5em;
    padding: 5px;
} */

.nav-link {
    cursor: pointer;
    text-decoration: none;
}

.wydrn-logo {
    color: black;
    background-color: white;
    padding: 10px;
}

.header-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
}

#browse {
    right: 230px;
    left: auto;
    margin-top: -20px
}

#media {
    right: 0px;
    left: auto;
    margin-top: -20px
}

#your-account {
    right: 0px;
    left: auto;
    margin-top: -20px
}

nav.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}