body {
    /* no selection */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: "Open Sans", Helvetica, sans-serif !important;
}

.header {
    font-size: 20px !important;
    position: absolute !important;
    top: 0.5em !important;
    padding: 5px !important;
}

.nav-link {
    cursor: pointer;
}

.wydrn-logo {
    color: black !important;
    background-color: white !important;
    padding: 10px !important;
}

.header-icon {
    width: 0.8em !important;
    height: 0.8em !important;
    display: inline-block !important;
    margin-bottom: 5px !important;
    margin-right: 5px !important;
}

#browse {
    right: 230px;
    left: auto;
    margin-top: -20px
}

#media {
    right: 0px;
    left: auto;
    margin-top: -20px
}

#your-account {
    right: 0px;
    left: auto;
    margin-top: -20px
}