@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');
body {
    /* no selection */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: "Open Sans", Helvetica, sans-serif;
}


/* .header {
    font-size: 20px;
    position: absolute;
    top: 0.5em;
    padding: 5px;
} */

.nav-link {
    cursor: pointer;
    text-decoration: none;
}

.wydrn-logo {
    color: black;
    background-color: white;
    padding: 10px;
}

.header-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
}

#browse {
    left: 530px;
    right: auto;
    margin-top: -20px;
}

#media {
    right: 450px;
    left: auto;
    margin-top: -20px
}

#your-account {
    right: 0px;
    left: auto;
    margin-top: -20px
}

nav.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#myHeader {
    font-size: 16px;
    transition: 0.5s;
}

span.full-form {
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: var(--color-link);
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 5px;
    transition: 0.5s
}

span.full-form:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px 15px 5px 15px;
    font-size: 14px;
}

#centerHeader {
    margin-left: 300px;
    -webkit-font-smoothing: antialiased;
}

#centerHeader>li.nav-link {
    font-size: large;
    font-family: 'Reem Kufi Ink', sans-serif;
    transition: 0.2s;
    margin: 0px 10px 0px 10px;
}

a.nav-link {
    font-size: large;
    font-family: 'Reem Kufi Ink', sans-serif;
    transition: 0.2s;
    margin: 0px 10px 0px 10px;
}

.custom-item {
    font-size: large;
    font-family: 'Reem Kufi Ink', sans-serif;
    transition: 0.2s;
    color: white;
}

#notif-bellcon {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    display: inline-block;
}

#myProfilePic {
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
}