@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');
body {
    /* no selection */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: "Open Sans", Helvetica, sans-serif;
}


/* .header {
    font-size: 20px;
    position: absolute;
    top: 0.5em;
    padding: 5px;
} */

.nav-link {
    cursor: pointer;
    text-decoration: none;
}

.wydrn-logo {
    color: black;
    background-color: white;
    padding: 10px;
}

.header-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
}

#browse {
    right: auto;
    left: 90px;
    margin-top: -20px
}

#media {
    right: 110px;
    left: auto;
    margin-top: -20px
}

#your-account {
    right: 0px;
    left: auto;
    margin-top: -20px
}

#centerHeader {
    margin-left: 50px;
    -webkit-font-smoothing: antialiased;
}

#centerHeader>li.nav-link {
    font-size: 18px;
    font-family: 'Reem Kufi Ink', sans-serif;
    transition: 0.2s;
    margin: 0px 5px 0px 5px;
}

a.nav-link {
    font-size: 18px;
    font-family: 'Reem Kufi Ink', sans-serif;
    transition: 0.2s;
    margin: 0px 5px 0px 5px;
}

.custom-item {
    font-family: 'Reem Kufi Ink', sans-serif;
    transition: 0.2s;
    color: white;
}

#notif-bellcon {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    display: inline-block;
}

#myProfilePic {
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
}