/*******************
FEATURES SECTION
*****************/

body {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* For Stylish Heading*/

.heading h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(2, 2, 2);
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    margin: auto;
    margin-top: 10px;
    min-width: 1000px;
}

.heading h1 span {
    margin-top: 5px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    word-spacing: 1px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.heading h1 span:after,
.heading h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f8;
}

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    margin-top: 50px;
}

.buttons {
    margin-bottom: 50px;
    margin-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 0.3fr;
    grid-column-gap: 203px;
    grid-row-gap: 40px;
}

.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 196px;
    }
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
}

.description {
    padding: 2rem;
    text-align: justify;
    transition: all 0.3s;
    border: 1px solid black;
    background-color: white;
}

.description p {
    line-height: 1.5;
    letter-spacing: 0.3px;
    word-spacing: 2px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.description p:nth-child(1)::first-letter {
    color: #FE5F55;
    font-weight: bold;
    font-size: 70px;
    float: left;
    line-height: 60px;
    padding-right: 8px;
    margin-top: -3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro';
    font-weight: 700;
}

.fancyTab {
    text-align: center;
    padding: 15px 0;
    background-color: #eee;
    box-shadow: 0 0 0 1px #ddd;
    top: 15px;
    transition: top .2s;
}

#header-psuedo {
    width: 100%;
    z-index: 1;
    height: 30px;
    background-color: blue;
}

.fancyTab.active {
    top: 0;
    transition: top .2s;
}

.whiteBlock {
    display: none;
}

.fancyTab.active .whiteBlock {
    display: block;
    height: 2px;
    bottom: -2px;
    background-color: #fff;
    width: 99%;
    position: absolute;
    z-index: 1;
}

.fancyTab a {
    font-family: 'Source Sans Pro';
    font-size: 1.65em;
    font-weight: 300;
    transition: .2s;
    color: #333;
}

.hidden-xs {
    max-width: 50px;
}

.fancyTabs {
    border-bottom: 2px solid #ddd;
    margin: 15px 0 0;
}

li.fancyTab a {
    padding-top: 15px;
    top: -15px;
    padding-bottom: 0;
}

li.fancyTab.active a {
    padding-top: inherit;
}

.fancyTab .fa {
    font-size: 40px;
    width: 100%;
    padding: 15px 0 5px;
    color: #666;
}

.fancyTab.active .fa {
    color: #cfb87c;
}

.fancyTab a:focus {
    outline: none;
}

.fancyTabContent {
    border-color: transparent;
    box-shadow: 0 -2px 0 -1px #fff, 0 0 0 1px #ddd;
    padding: 30px 15px 15px;
    position: relative;
    background-color: #fff;
}

.nav-tabs>li.fancyTab.active>a,
.nav-tabs>li.fancyTab.active>a:focus,
.nav-tabs>li.fancyTab.active>a:hover {
    border-width: 0;
}

.nav-tabs>li.fancyTab:hover {
    background-color: #f9f9f9;
    box-shadow: 0 0 0 1px #ddd;
}

.nav-tabs>li.fancyTab.active:hover {
    background-color: #fff;
    box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
}

.nav-tabs>li.fancyTab:hover a {
    border-color: transparent;
}

.nav.nav-tabs .fancyTab a[data-toggle="tab"] {
    background-color: transparent;
    border-bottom: 0;
}

.nav-tabs>li.fancyTab:hover a {
    border-right: 1px solid transparent;
}

.nav-tabs>li.fancyTab>a {
    margin-right: 0;
    border-top: 0;
    padding-bottom: 30px;
    margin-bottom: -30px;
}

.nav-tabs>li.fancyTab {
    margin-right: 0;
    margin-bottom: 0;
}

.nav-tabs>li.fancyTab:last-child a {
    border-right: 1px solid transparent;
}

.nav-tabs>li.fancyTab.active:last-child {
    border-right: 0px solid #ddd;
    box-shadow: 0px 2px 0 0px #fff, 0px 0px 0 1px #ddd;
}

.fancyTab:last-child {
    box-shadow: 0 0 0 1px #ddd;
}

.tabs .nav-tabs li.fancyTab.active a {
    box-shadow: none;
    top: 0;
}

.fancyTab.active {
    background: #fff;
    box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
    padding-bottom: 30px;
}

.arrow-down {
    display: none;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 22px solid #ddd;
    position: absolute;
    top: -1px;
    left: calc(50% - 20px);
}

.arrow-down-inner {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 12px solid #fff;
    position: absolute;
    top: -22px;
    left: -18px;
}

.fancyTab.active .arrow-down {
    display: block;
}


/*******************
END OF FEATURES SECTION
****************