@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Open Sans';
    background: #fafafa;
    /* no selection */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}


/* For Stylish Heading*/

.heading h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    margin: auto;
    margin-top: 50px;
    min-width: 1000px;
}

.heading h1 span {
    margin-top: 5px;
    font-size: 15px;
    color: #444;
    word-spacing: 1px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.heading h1 span:after,
.heading h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f8;
}

.cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
    justify-items: center;
}

.card {
    font-family: 'Heebo';
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity))), var(--bg-img);
    height: 12em;
    width: 10em;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 3em -1em black;
    position: relative;
    overflow: hidden;
    border: 5px solid #ccc;
    text-decoration: none;
    color: white;
}

h1 {
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    max-width: fit-content;
}

.pagination {
    display: inline-block;
}

.pagination a {
    font-weight: bold;
    font-size: 18px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid black;
}

.pagination a.active {
    background-color: rgb(38, 161, 254);
}

.pagination a:hover:not(.active) {
    background-color: rgb(177, 233, 255);
}

.tags {
    display: flex;
}

.tags .tag {
    font-size: 0.75em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-top: 0.7em;
    margin-right: 0.5em;
    line-height: 1em;
}

.card .logged-date {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.5em;
    padding: 1em;
    line-height: 1em;
    opacity: .8;
}

.card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
}

.card:hover .logged-date {
    display: block;
    background-color: black;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1285px) {
    .cards-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .cards-wrapper {
        grid-template-columns: 1fr;
    }
    .info {
        justify-content: center;
    }
    .card-grid-space .num {
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .cards-wrapper {
        padding: 4rem 2rem;
    }
    .card {
        max-width: calc(100vw - 4rem);
    }
}

@media screen and (max-width: 450px) {
    .info {
        display: block;
        text-align: center;
    }
    .info h1 {
        margin: 0;
    }
}