@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');
* {
    box-sizing: border-box;
}


/* Responsible for animated gradient background*/

.css-selector {
    background: linear-gradient(200deg, #bd88fb, #485bf1);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    -o-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 58% 0%
    }
    50% {
        background-position: 43% 100%
    }
    100% {
        background-position: 58% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 58% 0%
    }
    50% {
        background-position: 43% 100%
    }
    100% {
        background-position: 58% 0%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 58% 0%
    }
    50% {
        background-position: 43% 100%
    }
    100% {
        background-position: 58% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 58% 0%
    }
    50% {
        background-position: 43% 100%
    }
    100% {
        background-position: 58% 0%
    }
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Open Sans';
    background: #fafafa;
    /* no selection */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}


/* For Stylish Heading*/

.heading h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    margin: auto;
    margin-top: 50px;
    min-width: 1000px;
}

.heading h1 span {
    margin-top: 5px;
    font-size: 15px;
    color: #444;
    word-spacing: 1px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.heading h1 span:after,
.heading h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f8;
}

.cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
    justify-items: center;
}

.card {
    font-family: 'Heebo';
    --bg-filter-opacity: 0.5;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity))), var(--bg-img);
    height: 12em;
    width: 9em;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    align-items: flex-end;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 3em -1em black;
    position: relative;
    overflow: hidden;
    border: 5px solid #ccc;
    text-decoration: none;
}

h1.moviename {
    font-size: 1em;
    line-height: 1em;
    max-width: fit-content;
    margin: 0 auto;
    margin-top: 1em;
}

.tags {
    display: flex;
}

.tags .tag {
    font-size: 0.75em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-top: 0.7em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    line-height: 1em;
    margin: 0 auto;
    margin-top: 0.5em;
}

.card .logged-date {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.5em;
    padding: 1em;
    line-height: 1em;
    opacity: .8;
}

.card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
}

.card:hover .logged-date {
    display: block;
    background-color: black;
}


/*PAGINATION STYLES*/

.pagination {
    display: inline-block;
}

.pagination a {
    font-weight: bold;
    font-size: 18px;
    color: rgb(249, 249, 249);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.pagination a.active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.pagination a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

a>span.neonText {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

a>span.neonText:hover {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1285px) {
    .cards-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .cards-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .info {
        justify-content: center;
    }
    .card-grid-space .num {
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .cards-wrapper {
        padding: 4rem 2rem;
    }
    .card {
        max-width: calc(100vw - 4rem);
    }
}

@media screen and (max-width: 450px) {
    .info {
        display: block;
        text-align: center;
    }
    .info h1 {
        margin: 0;
    }
}