body {
    /* no selection */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: "Open Sans", Helvetica, sans-serif;
}

.flex {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border: 1px solid black;
}

.flex>.mydiv {
    width: 200px;
    margin: 5px;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383ff3;
    height: 50px;
    font-size: 12pt;
    color: white;
    border-radius: 10px;
}

.spaceEvenly {
    justify-content: space-evenly;
}

.spaceAround {
    justify-content: space-around;
}

#counter {
    /* background-color: skyblue; */
}

.media {
    background-color: aquamarine;
    padding-left: 1.2rem;
    border: 1px solid black;
    padding-bottom: 1.2rem;
}