body {
    /* no selection */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.flex {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border: 5px solid black;
}

.flex>#mydiv {
    width: 200px;
    margin: 5px;
    padding: 50px;
    box-sizing: border-box;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 12pt;
}

.spaceEvenly {
    justify-content: space-evenly;
}

.spaceAround {
    justify-content: space-around;
}

#counter {
    background-color: skyblue;
}

.media {
    background-color: aquamarine;
    padding-left: 1.2rem;
    border: 5px solid black;
    padding-bottom: 1.2rem;
}