body {
    /* no selection */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: "Open Sans", Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.media {
    height: max-content;
}

.media-item-div {
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    border: 1px solid black;
    text-align: center;
}

.mutual-media-title {
    text-align: center;
    color: white;
}

.mutual-media-subtitle {
    text-align: center;
    color: white;
}

#mutualGenericBtn {
    background-image: url("../images/website/assets/abstract/1.jpg");
}

#mutualGameBtn {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../images/website/assets/games/2.jpg");
}

#mutualMusicBtn {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("../images/website/assets/music/3.jpg");
}

#mutualBookBtn {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../images/website/assets/movies/9.jpg");
}

#mutualMovieBtn {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../images/website/assets/movies/5.jpg");
}

#mutualTVBtn {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../images/website/assets/movies/6.jpg");
}

#mutualGameBtn:hover {
    opacity: 85%;
    cursor: pointer;
}

#mutualMusicBtn:hover {
    opacity: 85%;
    cursor: pointer;
}

#mutualBookBtn:hover {
    opacity: 85%;
    cursor: pointer;
}

#mutualMovieBtn:hover {
    opacity: 85%;
    cursor: pointer;
}

#mutualTVBtn:hover {
    opacity: 85%;
    cursor: pointer;
}


/* #mutualGameDiv video {
    filter: brightness(0.3);
    width: 100%;
    position: absolute;
    z-index: -999;
    left: 0;
    object-fit: cover;
}

#mutualMusicDiv video {
    filter: brightness(0.3);
    width: 100%;
    position: absolute;
    z-index: -999;
    left: 0;
    object-fit: cover;
}

#mutualMovieDiv video {
    filter: brightness(0.3);
    width: 100%;
    position: absolute;
    z-index: -999;
    left: 0;
    object-fit: cover;
}

#mutualTVDiv video {
    filter: brightness(0.3);
    width: 100%;
    position: absolute;
    z-index: -999;
    left: 0;
    object-fit: cover;
}

#mutualBookDiv video {
    filter: brightness(0.3);
    width: 100%;
    position: absolute;
    z-index: -999;
    left: 0;
    object-fit: cover;
} */

.mediaGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.5rem 0.5rem;
    grid-auto-rows: minmax(10px, auto);
    color: white;
    background-color: #000000;
    padding: 20px 100px;
}

.mediaContent {
    padding: 5px;
    background-color: rgb(255 255 255 / 10%);
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}


/*For Circular Percentage Animation*/

.flex-wrapper {
    display: flex;
    /* flex-flow: row nowrap; */
    justify-content: space-evenly;
}

.single-chart {
    width: 20%;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.black .circle {
    stroke: #000000;
}

.circular-chart.red .circle {
    stroke: #cf0404;
}

.circular-chart.orange .circle {
    stroke: #f27d00;
}

.circular-chart.yellow .circle {
    stroke: #e4c600;
}

.circular-chart.blue .circle {
    stroke: #2dff50;
}

.circular-chart.green .circle {
    stroke: #009721;
}

.circular-chart.darkgreen .circle {
    stroke: #004a1f;
}

.mutual-items-count {
    fill: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

.percentage {
    fill: rgb(255, 248, 248);
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}