body {
    /* no selection */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: "Open Sans", Helvetica, sans-serif;
    min-height: 100vh;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(to left, rgba(10, 10, 10, 0.5), rgb(21, 21, 21)), url(../images/backgrounds/29.png);
    height: 100%;
    background-color: transparent;
    z-index: 1;
    background-size: cover;
    background-repeat: none;
    margin-top: 150px;
}

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.notif-group {
    width: 50em;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px auto 50px auto;
    align-items: flex-start;
    justify-content: flex-start;
}

.notification {
    display: inline-block;
    width: calc(100%);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(69, 69, 69, 0.6);
    color: black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    margin-bottom: 25px;
}

.profile_pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.followerUname {
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none !important;
    color: black;
    text-transform: uppercase;
}

.followerUname:hover {
    text-decoration: underline;
}

.followedTimestamp {
    font-size: 0.8em;
    color: rgb(56, 56, 56);
}

h1.heading {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(255, 255, 255) !important;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    margin: auto;
    min-width: 1000px;
    margin-bottom: 50px;
}

.bell {
    margin-top: -10px;
    margin-right: 20px;
}