.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 auto;
    display: inline;
}

.search-result-area {
    padding: 5px;
    background-color: skyblue;
}

body {
    /* no selection */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}