.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 auto;
    display: inline;
}

.search-result-area {
    padding: 5px;
    background-color: skyblue;
}

body {
    /* no selection */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 750px;
}

.list-item {
    width: 100%;
    min-width: 750px;
    padding: 1rem;
    border: 1px solid #696969;
    display: flex;
    align-items: center;
    position: relative;
    color: #002b5d;
    text-decoration: none;
}

.list-item:hover {
    border: 1px solid #000000;
    color: #2f00ff;
    background: #f6f7f9;
}

.list-item__avatar {
    margin-right: 1rem;
    width: 40px;
    height: 40px;
}

.list-item__avatar img {
    border: 1px solid #cacfd9;
    border-radius: 5px;
    background-color: #e1e4ea;
    width: 40px;
    height: 40px;
}

.list-item__name {
    display: block;
}

.list-item__info {
    font-size: 0.85em;
    color: #91a1bb;
}