    body {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    
    .text {
        height: 25px;
        border-radius: 5px;
        padding: 4px;
        border: solid thin #aaa;
        width: 100%;
    }
    
    #button {
        padding: 5px;
        width: 100px;
        color: white;
        background-color: blue;
        border: none;
    }
    
    #box {
        background-color: grey;
        margin: auto;
        padding: 20px;
        background: rgba(0, 0, 0, 0.5);
        width: 400px;
        margin-top: 50px;
        margin-left: 560px
    }
    
    .inputboxes {
        color: white;
        font-family: "Open Sans", Helvetica, sans-serif;
        padding-bottom: 00px;
        float: left;
    }
    
    .WYDRN {
        font-family: "Open Sans", Helvetica, sans-serif;
        font-size: 30px;
        color: #FFFFFF;
        font-variant: small-caps;
        text-align: center;
        font-weight: bold;
        margin-bottom: 30px;
        text-decoration: underline;
        text-decoration-color: blue;
    }
    
    .input-container {
        display: -ms-flexbox;
        /* IE10 */
        display: flex;
        width: 100%;
        margin-bottom: 15px;
    }
    
    .icon {
        padding-top: 15px;
        background: dodgerblue;
        color: white;
        min-width: 50px;
        height: 47px;
        text-align: center;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .input-field {
        width: 100%;
        padding: 10px;
        outline: none;
        height: 47px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid white;
        margin-bottom: 10px;
    }
    
    .input-field:focus {
        border: 2px solid dodgerblue;
    }