    body {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    
    .text {
        height: 25px;
        border-radius: 5px;
        padding: 4px;
        border: solid thin #aaa;
        width: 100%;
    }
    
    #button {
        padding: 5px;
        width: 100px;
        color: white;
        background-color: blue;
        border: none;
    }
    
    #box {
        background-color: grey;
        margin: auto;
        padding: 20px;
        background: rgba(0, 0, 0, 0.5);
    }
    
    .inputboxes {
        color: white;
        font-family: "Open Sans", Helvetica, sans-serif;
        padding-bottom: 10px;
        float: left;
    }
    
    .WYDRN {
        font-family: "Open Sans", Helvetica, sans-serif;
        font-size: 30px;
        color: #FFFFFF;
        font-variant: small-caps;
        text-align: center;
        font-weight: bold;
        margin-bottom: 30px;
        text-decoration: underline;
        text-decoration-color: blue;
    }