    .text {
        height: 25px;
        border-radius: 5px;
        padding: 4px;
        border: solid thin #aaa;
        width: 100%;
    }
    
    #button {
        padding: 10px;
        width: 100px;
        color: white;
        background-color: blue;
        border: none;
    }
    
    #box {
        background-color: grey;
        margin: auto;
        width: 300px;
        padding: 20px;
        margin-top: 100px;
        align-content: center;
        align-items: center;
        text-align: center;
    }
    
    .inputboxes {
        color: white;
        font-family: Baskerville, Times, 'Times New Roman', serif;
        padding-bottom: 10px;
        float: left;
    }
    
    .WYDRN {
        font-family: Baskerville, Times, 'Times New Roman', serif;
        font-size: 30px;
        color: #FFFFFF;
        font-variant: small-caps;
        text-align: center;
        font-weight: bold;
        margin-bottom: 30px;
        text-decoration: underline;
        text-decoration-color: blue;
    }