@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-family: Open Sans;
}

.alert {
    width: 50%;
    margin: 20px auto;
    padding: 30px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #ccc;
}

.close {
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    right: 15px;
    top: 25px;
    text-align: center;
    font-size: 1.6em;
    cursor: pointer;
}

.danger-alert {
    background-color: #f7a7a3;
    border-left: 5px solid #8f130c;
}

.success-alert {
    background-color: #a8f0c6;
    border-left: 5px solid #178344;
}

body {
    margin-top: 150px;
    min-height: 100vh;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(to left, rgba(10, 10, 10, 0.5), rgb(21, 21, 21)), url(../images/backgrounds/30.png);
    height: 100%;
    background-color: transparent;
    z-index: 1;
    background-size: cover;
    background-repeat: none;
}