h3 {
    color: black;
}

.column {
    float: left;
    width: 50%;
    margin-top: 100px;
}

body {
    /* no selection */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: "Open Sans", Helvetica, sans-serif;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 100px;
}

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* ==========================================================================
   #FONT
   ========================================================================== */

.font-robo {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.font-poppins {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}


/* ==========================================================================
   #GRID
   ========================================================================== */

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.col-2 {
    width: -webkit-calc((100% - 60px) / 2);
    width: -moz-calc((100% - 60px) / 2);
    width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
    .col-2 {
        width: 100%;
    }
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset {
    min-width: 0;
    border: 0;
}

button {
    outline: none;
    background: none;
    border: none;
}


/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */

.page-wrapper {
    min-height: 100vh;
}

h2 .title {
    font-size: 30px;
}


/* ==========================================================================
   #BACKGROUND
   ========================================================================== */

.bg-blue {
    background: #2c6ed5;
}

.bg-red {
    background: #fa4251;
}

.bg-gra-01 {
    background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
    background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}


/* ==========================================================================
   #SPACING
   ========================================================================== */

.p-t-100 {
    padding-top: 100px;
}

.p-t-180 {
    padding-top: 180px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-b-100 {
    padding-bottom: 100px;
}


/* ==========================================================================
   #WRAPPER
   ========================================================================== */

.mywrapper {
    margin: 0 auto;
}

.mywrapper--w1200 {
    max-width: 1200px;
}


/* ==========================================================================
   #FORM
   ========================================================================== */

input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}

.input-icon {
    position: absolute;
    font-size: 18px;
    color: #ccc;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

.input-group {
    position: relative;
    margin-bottom: 33px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.input--style-3 {
    padding: 5px 0;
    font-size: 16px;
    color: rgb(197, 196, 196);
    background: transparent;
}

.input--style-3:focus {
    border-bottom: #2c6ed5 solid 2px;
}

.input--style-3::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgb(117, 117, 117);
}

.input--style-3:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgb(117, 117, 117);
    opacity: 1;
}

.input--style-3::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgb(117, 117, 117);
    opacity: 1;
}

.input--style-3:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(117, 117, 117);
}

.input--style-3:-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(117, 117, 117);
}


/* ==========================================================================
   #TITLE
   ========================================================================== */

.title {
    font-size: 25px;
    color: #000;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: -58px;
    font-family: 'Reem Kufi Ink';
    word-spacing: 5px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.925);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    text-shadow: 1px 2px #cdcdcd;
}


/* ==========================================================================
   #CARD
   ========================================================================== */

.card {
    overflow: visible;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;
}

.card-3 {
    background: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100%;
    display: table;
    margin-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-3:hover {
    border: 1px solid white;
}

.option-text {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
}

#music-pic {
    background: url("../images/website/assets/music/2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-clip: content-box;
    display: table-cell;
    width: 50%;
    filter: brightness(0.8);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#tv-pic {
    background: url("../images/website/assets/movies/18.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-clip: content-box;
    display: table-cell;
    width: 50%;
    filter: brightness(0.8);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#movie-pic {
    background: url("../images/website/assets/movies/28.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-clip: content-box;
    display: table-cell;
    width: 50%;
    filter: brightness(0.8);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#book-pic {
    background: url("../images/website/assets/books/1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-clip: content-box;
    display: table-cell;
    width: 50%;
    filter: brightness(0.8);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#videogame-pic {
    background: url("../images/website/assets/games/2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-clip: content-box;
    display: table-cell;
    width: 50%;
    filter: brightness(0.8);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-3 .card-body {
    padding: 57px 65px;
    padding-bottom: 65px;
    display: table-cell;
}

@media (max-width: 767px) {
    .card-3 {
        display: block;
    }
    .card-3 .card-heading {
        display: block;
        width: 100%;
        padding-top: 400px;
        background-position: center center;
    }
    .card-3 .card-body {
        display: block;
        width: 100%;
        padding: 37px 30px;
        padding-bottom: 45px;
    }
}

.resetField {
    height: 25px;
    width: 25px;
    /* display: inline-block; */
    float: right;
    margin-top: -65px;
    margin-right: -30px;
    z-index: 100;
}