@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
body,
html {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
}

.top {
    position: fixed;
    top: 20px;
    left: 20px;
}

#header {
    width: 50vw;
    max-width: 450px;
    min-width: 300px;
    height: 150px;
    background-size: cover;
    background-position: center center;
    transition: all 0.08s linear;
}

#profile {
    width: 50vw;
    max-width: 450px;
    min-width: 300px;
    height: 300px;
    background: white;
    position: relative;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 25px;
    font-family: 'Open Sans', sans-serif;
}

#profile .image {
    position: absolute;
    border: 3px solid white;
    top: -55px;
    left: 20px;
    height: 80px;
    width: 80px;
    border-radius: 10px;
}

#profile .image img {
    width: inherit;
    height: inherit;
    border-radius: 8px;
}

#profile .name {
    font-size: 1.3rem;
    font-weight: 500;
    color: #444;
}

#profile .nickname {
    color: #888;
    font-size: 0.9rem;
    padding-bottom: 7px;
}

#profile .location {
    color: #555;
    font-size: 0.9rem;
    padding-left: 0px;
    position: relative;
    left: -5px;
}

#profile .location .material-icons {
    position: relative;
    top: 3px;
    font-size: 1rem;
}

.shadow {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.overflow {
    overflow: hidden;
}

.bottom {
    margin-top: 10px;
}

.count {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
}