@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
:root {
    --md-dark-color: #1d1d1d;
    --dark-color: #171717;
    --light-dark-color: #292929;
    --yellow-color: #d4aa11;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin-top: 75px;
}

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #5C7FB8;
}

a:hover {
    text-decoration: underline;
}

.movie-card {
    font: 14px/22px "Lato", Arial, sans-serif;
    color: #A9A8A3;
    padding-bottom: 100px;
}

.container2 {
    width: 1000px;
    min-height: max-content;
    background: #F0F0ED;
    position: relative;
    padding-bottom: 100px;
    box-shadow: rgb(85 91 255) 0px 0px 0px 3px, rgb(31 193 27) 0px 0px 0px 6px, rgb(255 217 19) 0px 0px 0px 9px, rgb(255 156 85) 0px 0px 0px 12px, rgb(255 85 85) 0px 0px 0px 15px;
}

.hero {
    height: 200px;
    margin: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.hero:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background: black;
    z-index: -1;
    transform-origin: 0 0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.cover {
    position: absolute;
    top: 53px;
    left: 40px;
    z-index: 2;
    width: 200px;
    height: 300px;
    border: 2px solid rgb(0, 0, 174);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.details {
    padding: 50px 0 0 280px;
}

.details .title1 {
    color: white;
    font-size: 44px;
    margin-bottom: 13px;
    position: relative;
    line-height: 50px;
}

.details .title2 span {
    position: absolute;
    top: 115px;
    /* margin-left: 1px; */
    background: #C4AF3D;
    border-radius: 5px;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 21px;
}

.details .title2 {
    color: #C7C1BA;
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 15px;
}

.plot-summary {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    text-decoration: underline;
}

.description {
    bottom: 0px;
    height: 200px;
    font-size: 16px;
    line-height: 26px;
    color: #262626;
}

.column1 {
    padding-left: 53px;
    padding-top: 190px;
    width: 240px;
    float: left;
    text-align: center;
}

.tag {
    background: white;
    border-radius: 10px;
    padding: 6px 20px;
    margin-right: 4px;
    line-height: 35px;
    cursor: pointer;
    color: black;
    font-weight: 700;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.column2 {
    padding-left: 41px;
    padding-top: 30px;
    padding-right: 1rem;
    margin-left: 20px;
    width: 740px;
    float: left;
}

fieldset,
label {
    margin: 0;
    padding: 0;
}


/* For Stylish Heading*/

.heading {
    background-color: black;
}

.heading h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(255, 245, 245);
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    min-width: 1000px;
}

.heading h1 span {
    margin-top: 5px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    word-spacing: 1px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.heading h1 span:after,
.heading h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f8;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    min-height: 100vh;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgb(21, 21, 21)), url(../../images/website/assets/movies/iron-throne.jpg);
    height: 100%;
    background-color: transparent;
    z-index: 1;
    background-size: cover;
    background-repeat: none;
}

.wrapper .container2 {
    max-width: 1200px;
    margin: 0 auto;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.search-container {
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.search-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-right: 5em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
}

.search-element h3 {
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: 1rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.search-element .form-control {
    padding: 1rem 1rem;
    font-size: 1rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: var(--light-dark-color);
    width: 350px;
    background-color: white;
    border: 2px solid black;
    color: #111;
    font-size: 15px;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
    font-family: 'Circular-Loom', cursive;
    text-transform: uppercase;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px
}

.search-list {
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
}

.search-list .search-list-item {
    background-color: var(--light-dark-color);
    padding: 0.5rem;
    border-bottom: 1px solid var(--dark-color);
    width: calc(350px - 8px);
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}

.search-list .search-list-item:Hover {
    background-color: #1f1f1f;
}

.search-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.search-item-thumbnail img {
    width: 40px;
    margin-right: 1rem;
}

.search-item-info h3 {
    font-weight: 600;
    font-size: 1rem;
}

.search-item-info p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity: 0.6;
}


/* thumbnail */

.search-list::-webkit-scrollbar {
    width: 8px;
}

.search-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.search-list::-webkit-scrollbar-thumb {
    background-color: var(--yellow-color);
    outline: none;
    border-radius: 10px;
}


/* js related class */

.hide-search-list {
    display: none;
}


/* movie result */

.movie-poster img {
    max-width: 300px;
    margin: 0 auto;
    border: 4px solid #fff;
}

.movie-info {
    text-align: center;
    color: #fff;
    padding-top: 3rem;
}


/* movie info stylings */

.movie-title {
    font-size: 2rem;
    color: var(--yellow-color);
}

.movie-misc-info {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.movie-info .year {
    font-weight: 500;
}

.movie-info .released {
    font-size: 0.9rem;
    opacity: 0.9;
}

.movie-info .genre {
    background-color: var(--light-dark-color);
    display: inline-block;
    padding: 0.5rem;
    border-radius: 3px;
}

.movie-info .year {
    background-color: var(--light-dark-color);
    display: inline-block;
    padding: 0.5rem;
    border-radius: 3px;
}

.movie-info .language {
    background-color: var(--light-dark-color);
    display: inline-block;
    padding: 0.5rem;
    border-radius: 3px;
}

.movie-info .plot {
    max-width: 400px;
    /* margin: 1rem auto; */
}

.summary b {
    text-decoration: underline;
    text-decoration-color: #d4aa11;
    text-decoration-thickness: 3px;
}

.center {
    text-align: center;
}

@media(max-width: 450px) {
    .logo p {
        font-size: 1.4rem;
    }
    .search-element .form-control {
        width: 90%;
        margin: 0 auto;
        padding: 0.5rem 1rem;
    }
    .search-element h3 {
        font-size: 1.4rem;
    }
    .search-list {
        width: 90%;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    .search-list .search-list-item {
        width: 100%;
    }
    .movie-misc-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .movie-misc-info li:nth-child(2) {
        margin: 0.8rem 0;
    }
}

@media(min-width: 800px) {
    .search-element {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .search-element h3 {
        margin-bottom: 0;
    }
    /* .result-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } */
    .movie-info {
        text-align: left;
        padding-top: 0;
    }
    .movie-info .movie-misc-info {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-left: 0;
    }
    .movie-info .plot {
        margin-left: 0;
    }
    .movie-info .writer {
        padding-left: 0;
        margin-left: 0;
    }
}


/* CSS */

.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}