* {
    margin: 0;
    padding: 0;
}

body {
    /* background: rgb(255, 255, 255) repeat center center; */
    font-family: "Myriad Pro", "Trebuchet MS", Helvetica, sans-serif;
    color: #fff;
    overflow: hidden;
    margin-top: 100px;
    background: linear-gradient(150deg, #457aff, #da6aff, #ff90a8);
    background-size: 100% 300%;
}


/* For Stylish Heading*/

.heading h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    margin: auto;
    margin-top: 50px;
    min-width: 1000px
}

.heading h1 span {
    margin-top: 5px;
    font-size: 15px;
    color: #000;
    word-spacing: 1px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    margin-bottom: 60px
}

.heading h1 span:after,
.heading h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f8
}

.pp_loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -35px 0px 0px -35px;
    background: #fff url(icons/loader.gif) no-repeat center center;
    width: 70px;
    height: 70px;
    z-index: 999;
    opacity: 0.7;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.pp_next,
.pp_prev {
    cursor: pointer;
    top: 50%;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    position: fixed;
    text-align: center;
    border: 1px solid #111;
    color: #fff;
    -moz-box-shadow: 0px 0px 3px #000;
    -webkit-box-shadow: 0px 0px 3px #000;
    box-shadow: 0px 0px 3px #000;
}

.pp_next {
    right: -40px;
    background: #222 url(icons/next.png) no-repeat center center;
}

.pp_prev {
    left: -40px;
    background: #222 url(icons/prev.png) no-repeat center center;
}

#pp_thumbContainer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 65px;
    width: 100%;
}

#pp_thumbContainer .album {
    position: absolute;
    width: 200px;
    height: 65px;
    bottom: -90px;
}

.album .name,
.pp_back {
    position: absolute;
    bottom: 0px;
    left: -16px;
    background: #222;
    text-align: center;
    border: 1px solid #111;
    padding: 5px;
    cursor: pointer;
    width: 169px;
    color: #fff;
    cursor: pointer;
    text-shadow: 0px 0px 1px #fff;
    -moz-box-shadow: 1px 1px 4px #000;
    -webkit-box-shadow: 1px 1px 4px #000;
    box-shadow: 1px 1px 4px #000;
}

.pp_back {
    text-transform: uppercase;
    bottom: 120px;
    left: -100px;
    width: max-content;
}

#pp_thumbContainer .content {
    position: absolute;
    top: 0px;
    height: 155px;
    cursor: pointer;
}

#pp_thumbContainer img {
    border: 5px solid #fff;
    -moz-box-shadow: 1px 1px 7px #000;
    -webkit-box-shadow: 1px 1px 7px #000;
    box-shadow: 1px 1px 7px #000;
}

#pp_thumbContainer .content span {
    display: none;
}

.pp_preview {
    position: fixed;
    top: 150%;
    left: 50%;
}

.pp_preview img {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -moz-box-shadow: 1px 1px 7px #000;
    -webkit-box-shadow: 1px 1px 7px #000;
    box-shadow: 1px 1px 7px #000;
}

.pp_name {
    height: 45px;
    line-height: 0.9;
    font-size: 20px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    position: absolute;
    text-align: center;
    color: #00021c;
}

#gameCover {
    width: 300px;
    height: 150px;
}